# dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# production
dist/
build/

# misc
.DS_Store
.env
.env.*
coverage/
*.log

# local IDE/editor settings
.vscode/
.idea/
*.swp

# OS files
Thumbs.db

# test output
jest-coverage/
test-results/

# TypeScript
*.tsbuildinfo

# Mac system files
*.DS_Store